#versus{
    width:150px;
    position:fixed;
}
.header{
    position:absolute;
    top:-0%;
    text-align:center;
    background-color: rgba(0,0,0,0.5);
    color:white;
    width:100vw;
    height:7vh;
    font-size:5vh;
    z-index: 10;
    text-shadow: 1px 1px 5px black;
}
.mainbox{
    background-color: #181818;
    width:100vw;
    height:100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin:0px;
    padding:0px;
}
#limg0{
    width:50%;
    max-width: 50%;
    display:flex;
    align-items: center;
    justify-content: flex-end;
}
#limg1{
    width:50%;
    display:flex;
    align-items: center;
    justify-content: flex-end;
    animation-name:slide;
    animation-duration: 1s;
    z-index: 3;
}
#rimg0{
    width:50%;
    display:flex;
    align-items: center;
    justify-content: flex-start;
}
#rimg1{
    width:50%;
    display:flex;
    align-items: center;
    justify-content: flex-start;
    animation-name:slide;
    animation-duration: 1s;
    z-index: 2;
}
#nameL{
    position:absolute;
    font-size:5vh;
    color:white;
    text-shadow: 1px 1px 5px black;
    margin-right:100px;
    margin-top:500px;
    z-index: 2;
    
}

#nameR{
    position:absolute;
    font-size:5vh;
    color:white;
    text-shadow: 1px 1px 5px black;
    z-index: 2;
    margin-left:100px;
    margin-top:500px;
    
}

#win{
    font-size:7vh;
    position:fixed;
    top:60%;
    color: white;
    text-shadow: 1px 1px 5px black;
}
#winImg{
    width:40vw;
    margin:100px;
}
#finish{
    width:100vw;
    height:100vh;
    display:flex;
    justify-content: flex-start;
    align-items: center;
    background-color: black;
    color:white;
}

@keyframes slide{
    from{
        transform: scale(1);
    }   
    to{
        transform: scale(1.5);
    }
}

#img{
    width:90%;
    height:auto;
}
#bar{
    width:30vw;
}

